<ion-header translucent>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>,
<ion-content fullscreen >
  
    <img src="../../assets/pfp4.jpg" id="pfp1" />
    <ion-card-header *ngFor = "let info of stuartLittle">
      <section>
        <ion-button id="button1" expand="full" color="secondary">Edit</ion-button>
      </section>
      <section><p></p></section>
      <ion-card-title class="text-align-center">{{info.name}}</ion-card-title>      
      <ion-card-subtitle class="text-align-center">{{info.tag}}</ion-card-subtitle>

    </ion-card-header>
    <ion-card-content>
      <b>Interests:</b> Drawing, hiking, cycling, sports <br>
      <b>Part events:</b> I've gone to a Dodgers game before, but that's it. Kinda new to this sort of stuff <br>
      <b>Bio:</b> I'm a Senior at UCLA and I've only gone to 1 past event before, but I really enjoyed the first one!
      Hope I could find more people to go with to new events! (I also really like boba #Boba4Life) <br>
    </ion-card-content>
</ion-content>